@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100..700&family=Instrument+Serif:ital@0;1&display=swap");
html {
  /* to make 1rem = 10px */
  font-size: 62.5%;
}

h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3.6rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2.4rem;
}
h6 {
  font-size: 2rem;
}
.p-lead {
  font-size: 1.8rem;
}
p {
  font-size: 1.6rem;
}
.p-secondary {
  font-size: 1.4rem;
}
small {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Instrument Serif", serif;
}
body {
  font-family: "Exo 2", sans-serif;
}

.weight-300 {
  font-weight: 300;
}
.weight-400 {
  font-weight: 400;
}
.weight-500 {
  font-weight: 500;
}
.weight-600 {
  font-weight: 600;
}
.weight-700 {
  font-weight: 700;
}

.synthetic-weight {
  font-weight: 900;
  font-style: italic;
}
.native-weight {
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-style: italic;
}

.spaced-para {
  line-height: 1.5;
  letter-spacing: 3px;
  word-spacing: 7px;
}
div {
  width: 300px;
  line-height: 1.5;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: aqua;
  border: 1px solid;
}
